ClassPrj/Library/
ClassPrj/Temp/
ClassPrj/obj/
ClassPrj/Xcode
*.csproj
*.sln
*.DS_Store
*.suo
*.unityproj
*.userprefs
Isola/Library
Isola/Temp
Isola/obj
Isola/Xcode
Isola/Assets/UF Creator LITE/Demo_Scenes
Isola/Assets/Free_Rocks/demo
Isola/Assets/Water FX Pack/Demo Scenes
Library/
*.pdb
/Server2/nbproject/private/
/Server2/dist/
/Server2/build/
/Server/ProgettoNetbenas/nbproject/private/
/Server/EstensioneDftGamesMultiplayer/nbproject/private/
/Server/EstensioneDftGamesMultiplayer/dist/
/Server/EstensioneDftGamesMultiplayer/build/